@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    /* Prevent pull-to-refresh on mobile */
    overscroll-behavior-y: contain;
    overflow: hidden; /* Prevent global scroll */
    height: 100vh;
    width: 100vw;
  }
}

/* Custom Utilities */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hide scrollbar for clean UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 3D Card Flip Utilities */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari support */
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
